<div class="col-12  grid-margin stretch-card">
  <div class="card">
    <div class="card-body ">
   
      
      <div class="row   text-center  text-muted tx-12">
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase">  Fecha inicio de obra</label>
            <p class="text-muted"> <i data-feather="calendar" class="iconDate" appFeatherIcon></i> 10/11/2020</p>

          </div>

        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Fecha fin de obra</label>
            <p class="text-muted"> <i data-feather="calendar" class="iconDate" appFeatherIcon></i> 10/03/2021</p>

          </div>

        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Presupuesto inicial</label>
            <p class="text-muted"> <i class="mdi mdi-wallet"></i> $250.000.000</p>

          </div>
          

        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Costos</label>
            <p class="text-muted"> <i class="mdi mdi-wallet"></i> $4.018.000 
            </p>

          </div>
          

        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Costos UF</label>
            <p class="text-muted"> <i class="mdi mdi-wallet"></i> 140,0 </p>

          </div>
          

        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Diferencia</label>
            <p class="text-muted"> <i class="mdi mdi-wallet"></i> 2709,6</p>

          </div>
          

        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Cantidad de partidas</label>
            <p class="text-muted"><i data-feather="git-commit" appFeatherIcon></i> 3</p>

          </div>
          
        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Jefe de obra</label>
            <p class="text-muted"><i data-feather="user-check" class="iconDate" appFeatherIcon></i> Oscar Villegass</p>

          </div>
          
        </div>
        <div class="col-2 mb-2 pt-2 text-left  border-right border-light d-flex justify-content-center">
          <div>
            <label class="tx-11 font-weight-bold mb-0 text-uppercase"> Supervisor</label>
            <p class="text-muted"> <i data-feather="user" class="iconDate" appFeatherIcon></i>  Juan Lorenzo</p>

          </div>
          
        </div>
      </div>
    
    </div>
  </div>
 
</div>
<div>
  <div class="row mx-3">
    <div class="col-5">
      <h6 class="card-title text-muted "><i data-feather="flag" appFeatherIcon></i> Items</h6>
    </div>
  
  <div class="col-3">
    <input type="text" class="form-control" id="navbarForm" placeholder="Filtrar aquí..." name="filter">

  </div>
  <div class="col-2">
    <button type="button" class="btn btn-outline-primary btn-block btn-icon-text text-center d-flex justify-content-center" >
      <div>
        <i data-feather="eye" appFeatherIcon class="icon-sm mr-2"></i>
        Ver detalle
  
      </div>
    </button>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-primary btn-icon-text btn-block btn-icon-text text-center d-flex justify-content-center">
      <div>
        <i class="btn-icon-prepend" data-feather="plus" appFeatherIcon></i>
        Nuevo Item

      </div>
    </button>

  </div>
</div>
</div>

<div class="row">
  <div class="col-5  grid-margin stretch-card">
    
    <div class="row w-100">
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">INSTALACIÓN DE FAENAS</h6>
            </div>
            <div class="row">
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">53,0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">53,0</p>
              </div>
  
            </div>
          </div>
        </div>
    
          
      </div>
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">TRAZADO Y LIMPIEZA</h6>
            </div>
            <div class="row">
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">35,8</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">35,8</p>
              </div>
  
            </div>
          </div>
        </div>
    
          
      </div>
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">OBRA GRUESA</h6>
            </div>
            <div class="row">
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">1030,9</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">1030,9</p>
              </div>
  
            </div>
          </div>
        </div>
    
          
      </div>
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">TERMINACIONES</h6>
            </div>
            <div class="row">
  
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">729,8</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">729,8</p>
              </div>
            </div>
          </div>
        </div>
    
          
      </div>
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">PROYECTO ELECTRICO</h6>
            </div>
            <div class="row">
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">104,4</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">104,4</p>
              </div>
  
            </div>
          </div>
        </div>
    
          
      </div>
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">PROYECTO SANITARIO</h6>
            </div>
            <div class="row">
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">85,9</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">85,9</p>
              </div>
  
            </div>
          </div>
        </div>
    
          
      </div>
      <div class="col-12 mt-3">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h6 class="card-title mb-2">ADICIONALES Y OTROS</h6>
            </div>
            <div class="row">
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Presupuesto:</label>
                <p class="text-muted">809,9</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo:</label>
                <p class="text-muted"> $4.018.000</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Costo UF:</label>
                <p class="text-muted">140,0</p>
              </div>
              <div class="mt-1 col">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Diferencia:</label>
                <p class="text-muted">669,9</p>
              </div>
  
            </div>
          </div>
        </div>
    
          
      </div>
    </div>
  
  </div>
  
    <div class="col-7">
      <div class="card mt-3">
        <div class="card-body">
          <h6 class="card-title"><i class="mdi mdi-chart-line"></i> 
             Gráfico</h6>
          
          <canvas baseChart 
            [datasets]="groupedBarChartData"
            [labels]="groupedBarChartLabels"
            [options]="groupedBarChartOptions"
            [chartType]="groupedBarChartType">
          </canvas>
  
        </div>
      </div>
    </div>

</div>




<div class="email-attachments">
  <div class="title">Documentos <span>(3 archivos)</span></div>
  <ul>
    <li><a href="" (click)="false"><span class="feather icon-file"></span> Reference.zip <span
          class="text-muted tx-11">(5.10 MB)</span></a></li>
    <li><a href="" (click)="false"><span class="feather icon-file"></span> Instructions.zip <span
          class="text-muted tx-11">(3.15 MB)</span></a></li>
    <li><a href="" (click)="false"><span class="feather icon-file"></span> Team-list.pdf <span
          class="text-muted tx-11">(4.5 MB)</span></a></li>
  </ul>
</div>