<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Facturas</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>N° Factura</th>
                  <th>Fecha ingreso</th>
                  <th>Documento</th>
                  <th>Monto total</th>
                  <th>Responsable</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>000001</td>
                  <td>10/10/2020</td>
                  <td><span class="feather icon-file"></span></td>
                  <td>$320,800</td>
                  <td>Juan Nuñez</td>
                </tr>
                <tr>
                    <td>000002</td>
                    <td>30/11/2020</td>
                    <td><span class="feather icon-file"></span></td>
                    <td>$320,800</td>
                    <td>Cristian Vidal</td>
                </tr>
                <tr>
                    <td>000003</td>
                    <td>15/19/2020</td>
                    <td><span class="feather icon-file"></span></td>
                    <td>$320,800</td>
                    <td>Cristian Vidal</td>
                  </tr>
                <tr>
              
                
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
