<nav aria-label="breadcrumb mb-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Obra 1</li>
    </ol>
  </nav>

<ul ngbNav #fillJustifyNav="ngbNav" class="nav-tabs nav-fill">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Presupuesto</a>
      <ng-template ngbNavContent>
        
            <app-presupuesto></app-presupuesto>

        
      </ng-template>
    </li>
    <!-- <li [ngbNavItem]="2">
      <a ngbNavLink>Partidas</a>
      <ng-template ngbNavContent>
          <app-partidas></app-partidas>
      </ng-template>
    </li> -->
    <li [ngbNavItem]="3">
      <a ngbNavLink>Material</a>
      <ng-template ngbNavContent>
          <app-material></app-material>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink >Facturas</a>
      <ng-template ngbNavContent>
          <app-factura></app-factura>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="fillJustifyNav" class="border border-top-0 p-3"></div>