<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Material</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Material</th>
                  <th>Cantidad</th>
                  <th>Precio total</th>
                  <th>Fecha entrega</th>
                  <th>Responsable</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Material 1</td>
                  <td>2</td>
                  <td>$320.000</td>
                  <td>24/05/2020</td>
                  <td>Victor Vasquez</td>
                </tr>
                <tr>
                    <td>Material 2</td>
                    <td>20</td>
                    <td>$610.000</td>
                    <td>24/05/2020</td>
                    <td>Nicole Perez</td>
                  </tr>
               
               
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
