<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3 mb-md-0">
            <div class="col-6 col-md-4 col-xl-8">
                <h6 class="card-title">Servicios Ingeniería </h6>
            </div>
           
            <div class="col-3 col-md-4 col-xl-4">
              <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center" (click)="agregar()">
              <div>
                <em class="btn-icon-prepend mr-0 d-block  d-md-none " data-feather="plus-circle" appFeatherIcon></em>
                <span class="d-none ml-2 d-md-block">Agregar</span> 
              </div>
            </button>
            </div>

        </div>
        <div class="row my-3">
          <div class="d-none d-lg-block col-md-6 col-lg-12">
            <div class="email-search">
              <div class="input-group input-search">
                <input class="form-control" type="text" placeholder="Filtrar aquí..."><span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="button"><i class="feather icon-search"></i></button></span>
              </div>
            </div>
      
          </div>
        </div>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Servicio</th>
                  <th>Obra</th>
                  <th>Inicio Servicio</th>
                  <th>Fin Servicio</th>
                  <th>Responsable</th>
                  <th>Documento</th>
                  <th>Opciones</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Servicio 1</td>
                  <td>Obra 1</td>
                  <td>24/05/2020</td>
                  <td>24/05/2021</td>
                  <td>Victor Vasquez</td>
                  <td>Doc</td>
                  <td>
                    <div class="dropdown" ngbDropdown>
                        <button class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                          <i class="feather icon-settings icon-md text-muted pb-3px" ngbTooltip="Settings"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                          <a class="dropdown-item d-flex align-items-center" href="" (click)="false"><i class="feather icon-eye icon-xs mr-2"></i> <span class="">Ver Detalle</span></a>
                          <a class="dropdown-item d-flex align-items-center" href="" (click)="false"><i class="feather icon-edit-2 icon-xs mr-2"></i> <span class="">Editar</span></a>
                          <a class="dropdown-item d-flex align-items-center" href="" (click)="false"><i class="feather icon-trash icon-xs mr-2"></i> <span class="">Eliminar</span></a>
                        </div>
                      </div>
                  </td>
                </tr>
                
            
               
               
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
