/* You can add global styles to this file, and also import other style files */
.fondo {
    position:relative;
    background: rgb(5,13,25);  /* Se usa en caso de falla para los computadores antiguos */
    background: rgba(5,13,25,0.5);
    background: url('../src/assets/images/pexels-sevenstorm-juhaszimrus-439416.jpg') no-repeat;
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #727cf5 !important;
    color: #fff;
    font-size: 1.0625em;
}